{{!< default}}
<div class="container">
	<div class="jumbotron">
		<h1 style='color:#337ab7; font-weight:bold'>ChoxJS</h1>
		<h4 style='font-style:italic'>Thiago Pereira - Developer</h4>
		<br>
		<p>
			I'm a FullStack developer from Florida that occasionally dabbles in the dark arts of lower level languages. I'm always learning, always improving, and maybe, just maybe, I can contribute to humanity.
		</p>
		<hr>
		<p style='font-size:16px'>
			This blog is an accumulation of my learnings, notes, and mad ramblings.
		</p>
	</div>
</div>
