<div class='site-container site-center-1-5'>
	<h2>Privacy Information</h2>

	<h4>This website collects and stores the following data</h4>
	<ul>
		<li>Your browser's UserAgent</li>
		<li>Your device's screen size</li>
		<li>Your IP address</li>
		<li>The items, buttons, links, etc... you click on while on this website</li>
	</ul>

	<br>

	<h4>How the above data is used</h4>
	<p>
		The above listed data is used to calculate and display usage statistics about how users are using this website.
		These usage statistics are publicaly viewable and can be found at <a href='https://beaconanalytics.herokuapp.com/'>https://beaconanalytics.herokuapp.com/</a>

		<br><br>

		Only calculated/compiled usage data is displayed at <a href='https://beaconanalytics.herokuapp.com/'>https://beaconanalytics.herokuapp.com/</a>. No raw data is shown.
	</p>

	<br>

	<h4>Contact</h4>
	<p>
		If you have a problem, concern, issue, or equstion, please email me at <b>{{ siteInfo.contact.email }}</b>
	</p>
</div>
