<div class='site-container'>
	<div>
		<p class='project-page__title'>Select a project to expand it</p>
	</div>
	<ul class='panel-menu'>
		{{{categoryMenu section
		categories=data.categories
		category=data.category
		activeClass='active'
		menuClass='sample'
		}}}
	</ul>

	<div class='project-card__group'>
		{{# each data.projects}}
		{{>projectCard this}}
		{{/each}}
	</div>
</div>
