<div class='site-container'>
	<div>
		<p class='project-page__title'>Select a project to expand it</p>
		<p style='text-align:center; font-style:italic; font-weight:bold;'><small>
			Some of these projects are hosted using Heroku's free service tire. Please give them a few moments to start up when you vist their demo site.
		</small></p>
	</div>
	<ul class='panel-menu'>
		{{{categoryMenu section
		categories=data.categories
		category=data.category
		activeClass='active'
		menuClass='sample'
		}}}
	</ul>

	<div class='project-card__group'>
		{{# each data.projects}}
		{{>projectCard this}}
		{{/each}}
	</div>
</div>
