
.project-card {
	@extend .site-center-half;

	&__title {
		@extend .post-card__title;
		color: white;
		background-color: $primary-color;
		margin-bottom: 0;
	}

	&__preview {
		position: relative;
		width: 100%;
		box-shadow: 0 0 1px 0 gray;
		img {
			width: 100%;
			max-height: rem-calc(350px);
		}

		&__label {
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
		}
	}

	&__content {
		position: static;
		width: 100%;
	}
	&__controls {
		text-align: right;
		a {
			@include button();
			width: 100%;

			@include breakpoint(medium) {
				width: auto;
				padding-left: 2rem;
				padding-right: 2rem;
			}
		}
	}
}
