
.project-page__title {
	text-align: center;
}
.project-card__group {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}
.project-card {
	$card-radius: 6px;

	box-shadow: 0 0 6px 1px $medium-gray;
	border-radius: $card-radius $card-radius 0 0;
	margin: $global-margin auto;
	width: 100%;


	@include breakpoint(rem-calc(620px)) {
		width: 45%;
	}
	@include breakpoint(rem-calc(920px)) {
		width: 30%;
	}

	&__title {
		@extend .post-card__title;
		color: white;
		background-color: $primary-color;
		margin-bottom: 0;
	}

	&__preview {
		display: block; // to get rid of extra space at bottom caused by <button>
		position: relative;
		width: 100%;
		padding-top: 100%;	// padding relative to width (1:1 aspect ratio)
		box-shadow: 0 0 1px 0 gray;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;

		&:hover {
			cursor: pointer;
		}

		&__label {
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
		}
	}

	&__content {
		position: static;
		width: 100%;
	}
	&__controls {
		text-align: right;
		a {
			@include button();
			width: 100%;

			@include breakpoint(medium) {
				width: auto;
				padding-left: 2rem;
				padding-right: 2rem;
			}
		}
	}
}
